# local python venv
venvBot/

# folder with a token.json file for bot API
config/*
# exept examples and stubs
!config/token_stub.json

# files used for local development, like raw JSON data
tmp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class